@model EduHomeAspProject.Models.Contact

@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<form enctype="multipart/form-data" method="post">

    <div class="form-horizontal">
        <h4>Update Contact</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <img src="~/Uploads/@Model.AddressLogo1" alt="Alternate Text" width="100" />
            @Html.LabelFor(model => model.AddressLogo1File, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.AddressLogo1File, new { @class = "form-control", @type = "file" })
                @Html.ValidationMessageFor(model => model.AddressLogo1File, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <img src="~/Uploads/@Model.AddressLogo2" alt="Alternate Text" width="100" />
            @Html.LabelFor(model => model.AddressLogo2File, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.AddressLogo2File, new { @class = "form-control", @type = "file" })
                @Html.ValidationMessageFor(model => model.AddressLogo2File, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <img src="~/Uploads/@Model.PhoneLogo" alt="Alternate Text" width="100" />
            @Html.LabelFor(model => model.PhoneLogoFile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.PhoneLogoFile, new { @class = "form-control", @type = "file" })
                @Html.ValidationMessageFor(model => model.PhoneLogoFile, "", new { @class = "text-danger" })
            </div>
        </div>
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
