@model IEnumerable<EduHomeAspProject.Models.About>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Abouts List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WelcomeMessage1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WelcomeMessage2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title2)
        </td>
        <td>
            @(item.WelcomeMessage1.Length > 100 ? item.WelcomeMessage1.Substring(0, 100) + "..." : item.WelcomeMessage1)
        </td>
        <td>
            @(item.WelcomeMessage2.Length > 100 ? item.WelcomeMessage2.Substring(0, 100) + "..." : item.WelcomeMessage2)
        </td>
        <td>
            <img src="~/Uploads/@item.Image" alt="@item.Image" width="100" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Update", new { id=item.Id }) |
            <a href="@Url.Action("Delete","About", new { id = item.Id })" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
}

</table>
