@model IEnumerable<EduHomeAspProject.Models.Blog>

@{
    ViewBag.Title = "BlogPanelIndex";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="reply-area">
                <h2>Blog Panel</h2>
                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
                <table class="table table-responsive">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Image)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Content)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ReplyCount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.User.Username)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BlogCategory.Name)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                <img src="~/Uploads/@item.Image" alt="@item.Image" width="100" />
                            </td>
                            <td>
                                @Html.Raw(item.Content.Length > 30 ? item.Content.Substring(0, 30) + "..." : item.Content)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReplyCount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.Username)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BlogCategory.Name)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Update", new { id = item.Id }) |
                                @Html.ActionLink("Details", "BlogDetails", new { id = item.Id }) |
                                <a href="@Url.Action("Delete","Blog", new { id = item.Id })" onclick="return confirm('Are you sure?')">Delete</a>
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
    



